body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to bottom, #fff4e3, #c7b8f9);
  min-height: 100vh;
  color: #111;
}

button {
  width: 100%;
  padding: 20px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  color: #fff;
  border: none;
  background-color: rgba(37, 15, 53, 0.4);
  cursor: pointer;
}

button:hover {
  background-color: rgba(37, 15, 53, 0.6);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
